@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #2F4538;
  --foreground: #FAF3E0;
  --primary: #2F4538;
  --primary-hover: #2F4538;
  --accent: #E8FF8B;
  --accent-hover: #d4eb7d;
  --text-light: #EFEFEF;
  --neutral-bg: #FAF3E0;
}

body {
  background-color: var(--background);
  color: var(--text-light);
  font-family: var(--font-poppins);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-playfair);
}
